{% extends './base.html' %} {% load staticfiles %}

<head>
    <link rel="stylesheet" href="{% static './css/fondo.css' %}">
</head>
{% block contenido %}

<div id="home" class="intro route bg-image fondo">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <!--<p class="display-6 color-d">Hello, world!</p>-->
                <h1 class="intro-title mb-4">Waner Andrés Valencia Moreno</h1>
                <p class="intro-subtitle"><span class="text-slider-items">{% if home %}
                    {% for item in home %}
                        {{item.especialidad}},
                    {% endfor %}
                {% endif %}</span>
                    <strong class="text-slider"></strong>
                </p>
                <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}